## --- Visual Studio ---
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## --- NuGet ---
packages/*
!packages/repositories.config
*.nuget.props
*.nuget.targets

## --- Entity Framework / SQL Server ---
*.mdf
*.ldf
*.sdf

## --- Web ---
*.pyc
*.pyo
.DS_Store
node_modules/
.bower_components/